.article {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;

  p{
    margin-bottom: 10px;
  }

}

@media (min-width: $desktop) {
  .article{
    font-size: 20px;
    line-height: 24px;
  }
}

