.hero {
  margin-top: -75px;
  overflow: hidden;

  &__person{
    position: relative;
    max-height: 780px;
    margin-bottom: 15px;

    img{
      display: block;
      width: 100%;
    }

    h3{
      position: relative;
      padding-right: 43px;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;

      &:after{
        position: absolute;
        top: 4px;
        right: 0;
        width: 40px;
        height: 44px;
        background-image: url(../img/icon-quotes.png);
        content: '';
      }

    }

    &:before{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      left: -10000%;
      background-color: #020202;
      content: '';
    }

    &-info{
      position: absolute;
      bottom: 16px;
      left: 10px;
      width: 90%;
      color: #fff;
      font-size: 14px;
      line-height: 18px;

      > p{
        font-weight: 300;
        font-style: italic;
        letter-spacing: -.7px;
      }

    }

    &-post{
      display: block;
      margin-bottom: 10px;
      padding-left: 12px;
      color: #01b1af;
      font-style: normal;
    }

  }

  &__content{
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }

}

@media (min-width: $tablet-portrait) {
  .hero {

    &__person{

      h3{
        font-size: 43px;
        line-height: 40px;
      }

      &-info{
        bottom: 46px;
        left: 49px;
        width: 80%;
        font-size: 24px;
        line-height: 28px;
      }

    }

    &__content{
      font-size: 20px;
    }

  }
}

@media (min-width: $tablet-landscape) {
  .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__person{
      width: 56%;
    }

    &__content{
      width: 40%;
    }

  }
}

@media (min-width: $desktop) {
  .hero{
    padding: 0 calc( 50% - 720px );

    &__person {
      width: auto;
      margin-bottom: 0;

      h3{
        font-size: 48px;
      }

      img{
        width: auto;
      }

      &-info{
        left: 69px;
        width: 729px;
      }

    }

    &__content{
      width: calc( 100% - 944px);
      padding: 33px 40px 0 43px;
    }

  }
}

