.media-gallery{
  position: relative;
  width: 100%;
  padding: 41px calc( 50% - 725px) 52px;
  text-align: center;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &__title{
    margin-bottom: 38px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
  }

  &__cover {
    overflow: hidden;
  }

  &__wrap{
    margin: 0 0 35px 7px;
  }

  &__item, &__sizer {
    width: 97%;
    margin: 0 .6% 1%;
  }

  &__item{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
    -webkit-transition: opacity .3s ease, transform .3s ease;
    transition: opacity .3s ease, transform .3s ease;

    img {
      display: block;
      width: 100%;
    }

    &.hidden {
      opacity: 0;
      position: absolute;
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }

  }

  &__switcher{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-bottom: 33px;

    button{
      position: relative;
      margin: 0 25px 33px;
      padding: 0;
      border: none;
      color: #444;
      @include OpenSans;
      font-size: 14px;
      font-weight: 400;
      background-color: transparent;
      text-transform: uppercase;

      &:after{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        border-bottom: 2px solid #01b1af;
        -webkit-transform: translateY( 2px );
        transform: translateY( 2px );
        opacity: 0;
        -webkit-transition: transform .3s ease, opacity .3s ease;
        transition: transform .3s ease, opacity .3s ease;
        content: '';
      }

      &.active{
        font-weight: 600;

        &:after{
          opacity: 1;
          -webkit-transform: translateY( 0 );
          transform: translateY( 0 );
        }

      }

    }

  }

  &__more{
    position: relative;
    color: #444;
    font-size: 24px;
    text-transform: uppercase;
    white-space: nowrap;

    &:after{
      position: absolute;
      top: calc( 100% - 3px );
      right: 0;
      left: 0;
      border-bottom: 2px solid #444;
      -webkit-transition: transform .3s ease;
      transition: transform .3s ease;
      content: '';
    }

    &:hover{

      &:after{
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
      }

    }

  }

}

@media (min-width: $tablet-portrait) {
  .media-gallery{

    &__title{
      font-size: 48px;
    }

    &__item, &__sizer {
      width: 32%;
      margin: 0 .6% 1%;
    }

    &__switcher{
      flex-flow: row nowrap;

      button{
        margin-bottom: 0;
        font-size: 18px;

        &:hover{

          &:after{
            opacity: 1;
            -webkit-transform: translateY( 0 );
            transform: translateY( 0 );
          }

        }

      }

    }

  }
}