.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;
  padding: 28px 10px;
}

.page-numbers{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;

  &.current{
    background-color: #000!important;
    color: #fff!important;
    cursor: default;
  }

  &.prev, &.next{
    display: none;
  }

}

@media (min-width: $desktop) {

  .page-numbers{

      &:hover{
        background-color: rgba(0,0,0,.6);
        color: #fff;
      }

  }

}

@media (min-width: 1400px) {
  .navigation {
    padding: 28px calc( 50% - 613px);
  }
}

