.place-order {
  color: #222;

  h1{
    width: 100%;
    margin-bottom: 33px;
    color: #222;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }

  &__preface{
    margin-bottom: 25px;
    padding: 33px 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
  }

  &__order{
    margin-bottom: 27px;
    padding: 25px 10px;
    background-color: #f2f2f2;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    text-align: left;

    h3{
      margin-bottom: 33px;
      font-weight: 700;
      text-transform: uppercase;
    }

    li{
      margin-bottom: 22px;

      &:before{
        display: inline-block;
        margin-right: 8px;
        content: '*';
      }

    }

  }

  &__warning{
    padding: 0 10px 54px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    span{
      display: block;
      margin-bottom: 21px;
      color: #01b1af;
      font-size: 20px;
      line-height: 32px;
    }

    strong{
      display: block;
      font-size: 20px;
      line-height: 32px;
    }

  }

  &__form{
    width: 100%;
    max-width: 811px;
    margin: 0 auto 67px;
    padding: 0 10px;
    text-align: left;

    &-topic{
      margin: 17px 0 15px;
      font-size: 18px;
      font-weight: 600;
    }

    &-wrap{
      position: relative;
    }

    &-item{
      position: absolute;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity .3s ease, visibility .3s ease, height .3s ease;
      transition: opacity .3s ease, visibility .3s ease, height .3s ease;

      &.active{
        opacity: 1;
        visibility: visible;
      }

    }

    &-fieldset{
      position: relative;
      width: 100%;
      max-width: 390px;

      span{
        color: #24b6b4;
      }

      > span{
        position: absolute;
        top: 13px;
        right: 10px;
      }

    }

    &-address{
      width: 100%;
      max-width: 100%;
    }

    &-note{

      span{
        display: block;
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 16px;
        padding: 0 33px 0 6px;
        color: #01b1af;
        font-size: 14px;
        line-height: 18px;
      };

    }

    &-print{
      margin-top: 52px;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;

      a{
        color: #222;
        text-decoration: underline;
      }

    }

    input[type=text], input[type=email],
    input[type=tel], input[type=number], textarea{
      width: 100%!important;
      height: 39px!important;
      margin-bottom: 14px;
      padding: 0 25px 0 21px!important;
      border: 1px solid #ababab!important;
      color: #777;
      @include OpenSans;
      font-size: 14px;
      -webkit-transition: border-color .3s ease;
      transition: border-color .3s ease;

      &.not-valid, &.not-touched{
        border-color: #f00!important;
      }

    }

    textarea{
      height: 120px!important;
      margin-bottom: 18px!important;
      padding: 8px 18px !important;
    }

    input[type=checkbox]{
      position: absolute;
      opacity: 0;
      visibility: hidden;

      & + span{
        position: relative;
        padding-left: 35px;

        &:before{
          position: absolute;
          top: 2px;
          left: 12px;
          width: 15px;
          height: 15px;
          border: 1px solid #b7b7b7;
          -webkit-transition: border-color .3s ease;
          transition: border-color .3s ease;
          content: '';
        }

        &:after{
          position: absolute;
          top: 6px;
          left: 16px;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background-color: #b7b7b7;
          opacity: 0;
          -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
          content: '';
        }

      }

      &:checked + span{

        &:after{
          opacity: 1;
        }

      }

      &.not-valid,
      &.not-touched{
        + span:before{
          border-color: #f00!important;
        }
      }

    }

    input[type=button], input[type=submit],
    button, &-next{
      display: inline-block;
      margin: 0 auto;
      padding: 0!important;
      border: none!important;
      background-color: transparent;
      color: #000;
      @include OpenSans;
      font-size: 20px;
      font-weight: 300;

      span{
        width: 100%;
        text-align: center;
      }

    }

    br{
      display: none;
    }

  }

  &__form-num{
    position: absolute;
    right: 13px;
    bottom: 14px;
    height: 40px;
    width: 25px;

    a{
      top: 6px;
      right: 0;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      border-color: rgba(1, 177, 175, 0);
      border-bottom-color: #01b1af;
      border-width: 5px;
      -webkit-transition: transform .3s ease, top .3s ease ;
      transition: transform .3s ease, top .3s ease ;
      cursor: pointer;
    }

    a + a{
      top: auto;
      bottom: 6px;
      border-top-color: #01b1af;
      border-bottom-color: transparent;
    }

  }

  &__steps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 300px;
    margin: 0 auto 56px;
    overflow: hidden;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 2px solid #01b1af;
      background-color: #fff;
      color: #01b1af;
      font-size: 27px;
      border-radius: 50%;
      z-index: 2;

      &.active{
        color: #fff;
        background-color: #01b1af;
      }

    }

    > div{
      position: absolute;
      top: calc( 50% - 2px );
      left: -20px;
      right: -20px;
      height: 4px;
      background-color: #ebebeb;

      span{
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: inherit;
        background-color: #01b1af;
        -webkit-transition: width .3s ease;
        transition: width .3s ease;
      }

    }

  }

  &__info{
    display: inline-block;
    position: relative;

    &-btn{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 17px;
      width: 17px;
      border-radius: 50%;
      background-color: #01b1af;
      color: #fff!important;
      font-size: 11px;
      text-align: center;

      &:hover + .place-order__info-popup {
        opacity: 1;
        visibility: visible;
      }

    }

    &-popup{
      position: absolute;
      top: 50%;
      right: 100%;
      margin-right: 15px;
      padding: 12px 15px;
      white-space: nowrap;
      color: #fff!important;
      background-color: #01b1af;
      font-size: 14px;
      opacity: 0;
      visibility: hidden;
      z-index: 2;
      -webkit-transform: translateY( -50% );
      transform: translateY( -50% );
      -webkit-transition: opacity .3s ease, visibility .3s ease;
      transition: opacity .3s ease, visibility .3s ease;
    }

  }

  &__btn-wrap{
    display: flex;
    align-content: center;
    margin-top: 25px;
  }

  &__terms{
    font-size: 16px;

    & > span, a{
      color: #01b1af;
    }

  }

  &__sign {
    position: relative;
    @include flexbox();
    @include flex-wrap( wrap );
    @include flex-direction();
    @include align-items( flex-end );
    @include justify-content( flex-start );
    width: 100%;

    span{
      position: absolute;
      top: 8px;
      left: 15px;
      width: 60%;
      font-size: 14px;
      line-height: 24px;
    }

    &-area {
      @include flexbox();
      @include flex-wrap( wrap );
      @include flex-direction();
      @include align-items( center );
      @include justify-content( center );
      position: relative;
      width: 100%;
      height: 150px;
      border: 1px solid #b7b7b7;

      canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }

  }

  &__upload{
    position: relative;
    display: flex;
    padding: 0 20px;
    align-items: center;
    height: 50px;
    width: 75%;
    border: 1px dashed #b7b7b7;

    input{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 1;
    }

    &:after{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -126px;
      bottom: 0;
      width: 110px;
      height: 30px;
      background: #ebebec;
      color: #222;
      @include OpenSans;
      font-size: 14px;
      content: 'Add files';
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;
    }

  }

}

@media (min-width: $tablet-portrait) {
  .place-order {

    &__form{

      &-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-fieldset{
        width: 49%;
      }

      &-city{
        width: 39%;
      }

      &-state{
        width: 39%;
      }

      &-zip{
        width: 20%;
      }

      &-address{
        width: 100%;
      }

    }

  }
}

@media (min-width: $desktop) {
  .place-order{

    h1{
      margin-bottom: 34px;
      font-size: 48px;
    }

    &__preface{
      margin-bottom: 54px;
      padding: 76px calc( 50% - 590px) 0;
    }

    &__order{
      padding: 65px calc( 50% - 619px) 66px;
    }

    &__warning{
      padding: 38px calc( 50% - 565px) 54px;
    }

    &__form{

      input[type=button], input[type=submit],
      button{

        &:hover{
          text-decoration: underline;
        }

      }

    }

    &__info{

      &-popup{
        right: auto;
        left: 100%;
        margin: 0 0 0 15px;
      }

    }

    &__terms{
      a:hover{
        text-decoration: underline;
      }
    }

    &__upload{

      &:after{

        &:hover{
          background-color: #e7e7e8;
        }

      }

    }

  }
}

