.preloader {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: visibility .3s ease, opacity .3s ease;
  transition: visibility .3s ease, opacity .3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    position: absolute;
    left: 50%;
    bottom: 50px;
    display: block;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border: 4px solid #000;
    animation: loader 2.3s infinite ease;
    -ms-animation: loader 2.3s infinite ease;
    -webkit-animation: loader 2.3s infinite ease;
  }

  &__item {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #000;
    animation: loader-inner 2.3s infinite ease-in;
    -ms-animation: loader-inner 2.3s infinite ease-in;
    -webkit-animation: loader-inner 2.3s infinite ease-in;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  @-ms-keyframes loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-inner {
    0% {
      height: 0;
    }

    25% {
      height: 0;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0;
    }
  }
  @-ms-keyframes loader-inner {
    0% {
      height: 0;
    }

    25% {
      height: 0;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0;
    }
  }
  @-webkit-keyframes loader-inner {
    0% {
      height: 0;
    }

    25% {
      height: 0;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0;
    }
  }
}