.site {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 100%;
  overflow: hidden;
  @include OpenSans;

  &__header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 19px 15px;
    background-color: #000;
  }

  &__footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 31px 10px;
    background-color: #222;
    color: #fff;
    @include OpenSans;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }

}

@media (min-width: $tablet-portrait) {
  .site {

  }
}

@media (min-width: $desktop) {
  .site {

    &__header{
      padding: 19px calc( 50% - 720px ) 0;
    }

    &__footer{
      flex-flow: row wrap;
      padding: 31px calc( 50% - 660px) 56px;
      text-align: left;
    }

  }
}

