.websters-select {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #b7b7b7;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;

  &.not-valid, &.not-touched{
    border-color: #f00!important;
  }

  &_opened {

    .websters-select__arrow {
      top: calc( 50% - 6px );
      transform: rotate(180deg);
    }

  }

  &__arrow{
    top: calc( 50% - 2px );
    right: 11px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(1, 177, 175, 0);
    border-top-color: #01b1af;
    border-width: 5px;
    -webkit-transition: transform .3s ease, top .3s ease ;
    transition: transform .3s ease, top .3s ease ;
  }

  &__item {
    overflow: hidden;
    @include absoluteCenterY();
    right: 20px;
    left: 21px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    @include OpenSans;
    font-size: 14px;
    color: #222!important;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: 1px solid #b7b7b7;
    border-top: none;
    background: $websters-select-popup-back;
    @include OpenSans;
    font-size: 14px;

    ul {
      z-index: 1;
    }

    li {
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      color: #222;
      padding: 10px 21px;
      -webkit-transition: background-color .3s ease, color .3s ease;
      transition: background-color .3s ease, color .3s ease;

      &:first-child{
        color: #b7b7b7;
        pointer-events: none;

        &:hover {
          color: #b7b7b7;
          background-color: #fff;
        }

        &.active {
          color: #b7b7b7!important;
          background-color: #fff;
        }

      }

      &:hover {
        color: $websters-select-popup-item-active-color;
        background-color: #24b6b4;
      }

      &.active {
        color: $websters-select-popup-item-active-color !important;
        background-color: #24b6b4;
      }

    }

  }

}
